body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    max-width: 1440px;
    min-width: 200px;
    width: 100%;
    min-height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #FFFFFF;
    z-index:9999;
}

.logo{
    margin: 0 10px;
}

.logo > a{
    text-decoration: none;
    color: #2D2C2F;
}

.logo > a > img{
    height: 21px;
}

.logo > a > span{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar{
    display: flex;
    align-items: center;
}

.menu-main{
    display: flex;
    position: relative;
    padding: 0;
}

.menu-main > li{
    list-style:none;
    display: inline;
    position: relative;
    padding: 10px 0;
}

.menu-main > li > a{
    padding: 0 5px;
    text-decoration: none;
    color: #000000;
}

.menu-main > li:hover > a{
    color: #A67DBE;
}

.menu-main > li::before,
.menu-main > li::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #A67DBE;
    transition: width 0.5s ease-in-out;
}

.menu-main > li:hover::before {
    width: 100%;
    right: 100%;
    left: 0;
}

.menu-main > li:hover::after {
    width: 100%; 
    left: 0;
    right: 0;
}

.navbar-top-collapse{
    border: none;
    background: none;
    padding: 0;
    display: none;
    width: 30px;
    height: 30px;
}

.animated-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.animated-icon > span{
    border-radius: 10px;
    background-color: #131E32;
    width: 80%;
    height: 8%;
}

.navbar-cta{
    margin: 0 10px;
    border-radius: 10px;
    background: linear-gradient(180deg, #FB2E47, #DA0331);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-cta > a{
    text-decoration: none;
    color: #FFFFF2;
}

.navbar-cta:hover{
    background: linear-gradient(360deg, #FB2E47, #DA0331);
}

.content{
    margin: 60px 0 0 0;
    width: 100%;
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abus{
    max-width: 1240px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.abus-info{
    margin-left: 10px;
    width: 45%;
}

.abus-info > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #848B92;
    font-size: .8em;
}

.abus-info > h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
}

.abus-info > h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
}

.abus-info > a{
    width: 200px;
    margin: 0 10px;
    border-radius: 10px;
    background: linear-gradient(180deg, #4F32A5, #A67DBE);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFF2;
}

.abus-info > a:hover{
    background: linear-gradient(360deg, #4F32A5, #A67DBE);
}

.abus-slide{
    width: 45%;
}

.abus-slide > img{
    width: 100%;
}

.z-nami{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.z-nami > h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    color: #2D3749;
}

.firms{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.firms > img{
    margin: 0 30px;
    width: 150px;
}

.seo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seo > h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    color: #2D3749;
    text-align: center;
}

.seo > p{
    width: 60%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #4D5156;
    text-align: center;
}

.seo > p > span{
    color: #000000;
    font-weight: bold;
}

.targets{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.targets > div{
    margin: 0 10px;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.targets > div > img{
    width: 150px;
}

.targets > div > h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #000000;
    margin: 0;
    padding: 0;
}

.targets > div > h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #4D5156;
    text-align: center;
}

.targets > div > a{
    width: 200px;
    margin: 0 10px;
    border-radius: 10px;
    background: linear-gradient(180deg, #4F32A5, #A67DBE);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFF2;
}

.targets > div > a:hover{
    background: linear-gradient(360deg, #4F32A5, #A67DBE);
}

.targets > div > p{
    color: #4D5156;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.targets > div > ul{
    margin: 0;
    padding: 0;
}

.targets > div > ul > li{
    margin: 15px 0;
    list-style: none;
}

.targets > div > ul > li:before{
    content: '✔';
    color: #4F32A5;
}

.targets > div > ul > li > a{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
    color: #4D5156;
}

.targets > div > ul > li > a:hover{
    color: #A67DBE;
}

/* Clients */

.clients{
    height: 875px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clients > h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    color: #2D3749;
    text-align: center;
}

.thinks{
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
}

.avatar{
    width: 20em;
    height: 22em;
    border: 5px solid #9A9392;
    background-image: linear-gradient(135deg, #CACACA, #802CB0);
}

.think-desc{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.person-think > :first-child > p{
    font-family: 'Poppins', sans-serif;
    margin: 15px;
    font-size: 0.8em;
    color: #5F5F5F;
}

.person-think > :first-child > h4{
    font-family: 'Sacramento', cursive;
    margin: 0 15px;
    font-size: 2em;
    font-weight: normal;
    color: #272727;
}

.person-think > :first-child > h3{
    font-family: 'Poppins', sans-serif;
    margin: 0 15px;
    color: #272727;
}

.person-think > :first-child > h5{
    font-family: 'Poppins', sans-serif;
    margin: 15px;
    color: #802CB0;
}

.person-think > :last-child{
    height: 2%;
    background-color: #802CB0;
}

.carusel{
    align-self: flex-end;
}

.carusel > ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.carusel > ul > li > input[type='radio'] {
    position: relative;
    height: 14px;
    width: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.carusel > ul > li > input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #3F4049;
}

.carusel > ul > li > input[type='radio']:checked::before{
    border-radius: 50%;
    border: 2px solid #A67DBE;
}

.carusel > ul > li > input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #A67DBE;
    transform: translate(-50%, -50%);
    visibility: visible;
}


.feed-back{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feed-back > div{
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feed-items{
    margin: 10px 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.feed-item{
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.feed-item > img{
    width: 100px;
}

.feed-item > h3{
    margin: 0;
    color: #A67DBE;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
}

.feed-item > p{
    margin: 0;
    color: #2D3749;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.marketing{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.marketing > div{
 
    width: 40%;
}

.marketing > :nth-child(1) > img{
    width: 100%;
}

.marketing > :nth-child(2){
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.marketing > :nth-child(2) > p{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    color: #4D5156;
}

.marketing > :nth-child(2) > a{
    width: fit-content;
    text-decoration: none;
    color: #4D5156;
    border-radius: 10px;
    border: 1px solid #4D5156;
    padding: 10px 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}

.marketing > :nth-child(2) > a:hover{
    background-color: #4D5156;
    color: #ffffff;
}

.continue{
    margin: 15px 0;
    width: 100%;
    background: linear-gradient(90deg, #4F32A5, #A67DBE);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.continue > p{
    text-align: center;
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
}

.partner-google{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


.partner-google > :nth-child(1){
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #4D5156;
    margin: 0 10px;
}


.partner-google > :nth-child(1) > p{
    margin: 0;
}

.partner-google > :nth-child(1) > p > span{
    font-weight: bold;
}

.partner-google > :nth-child(1) > ul{
    margin: 0;
    padding: 0;
}

.partner-google > :nth-child(1) > ul > li{
    list-style: none;
    margin: 10px 0;
}

.partner-google > :nth-child(1) > ul > li:before{
    content: '✔';
    color: #4F32A5;
}

.partner-google > :nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
}

.partner-google > :nth-child(2) > img{
    width: 60%;
}

.directions{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.directions > :nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.directions > :nth-child(1) > h2{
    color: #131E32;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.directions > :nth-child(1) > h3{
    font-weight: 400;
    color: #2D3749;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.directions-items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.directions-items > div{
    margin: 0 10px;
    padding: 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.directions-items > div > a{
    text-decoration: none;
    font-size: 1.2em;
}

.directions-items > div > a >img{
    width: 100px;
}

.directions-items > div > a > h3{
    color: #4F32A5;
}

.directions-items > div > a > p{
    margin: 0;
    color: #131E32;
}

.directions-items > div:hover{
    background-color: #F3F6FC;
}

.directions > a{
    margin: 10px 0;
    width: fit-content;
    text-decoration: none;
    color: #4D5156;
    border-radius: 10px;
    border: 1px solid #4D5156;
    padding: 10px 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}

.directions > a:hover{
    background-color: #4D5156;
    color: #ffffff;
}

.city{
    margin-top: 10px;
    width: 100%;
}

.city > img{
    width: 100%;
    height: 80vh;
}

.city-description{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #131E32;
}

.city-description > h3{
    font-weight: 400;
}

.city-description > h3 > span{
    font-weight: bold;
}

.revolution{
    width: 100%;
    background-color: #802CB0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.revolution > h2{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
}

.revolution > div{
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 1.2em;
}

.revolution > div > a{
    margin: 10px 0;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px 20px;
    width: fit-content;
    font-weight: bold;
}

.revolution > div > a:hover{
    color: #131E32;
    background-color: #fff;
}

.success{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success > h2{
    color: #131E32;
    font-size: 1.6em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.success > h3{
    width: 100%;
    color: #131E32;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}

.success-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.success-item > div{
    margin: 10px 0;
}
/* -------video--------- */
.video-presentation{
    width: 40%;
    height: 350px;
}

#myVideo, #myVideo1 , #myVideo2{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.video-poster{
    z-index: 5;
    position: absolute;
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.8)),url("../img/video/fox-forest-nature-scenery-art-uhdpaper.com-4K-8.1452.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.video-poster > a{
    text-decoration: none;
}

.play-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-icon > p{
    margin-top: 20px;
    text-align: center;
    width: 80%;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

.video-poster > a:focus{
    visibility: hidden;
}
/* ----video---------- */



.success-item > :nth-child(2){
    margin-left: 10px;
    width: 55%;
    font-family: 'Poppins', sans-serif;
    color: #131E32;
}

.success-reverse {
    flex-direction: row-reverse;
}

.possibilities{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.possibilities > h2{
    color: #131E32;
    font-size: 1.6em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.possibilities > h3{
    width: 90%;
    color: #131E32;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.possibilities > p{
    width: 70%;
    color: #131E32;
    font-weight: 400;
    font-size: .9em;
    font-family: 'Poppins', sans-serif;
}

.possibilities-answers{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.possibilities-answers > button{
    border-top: 1px solid #DBE4ED;
    border-bottom: none;
    border-right: none;
    border-left: none;
    padding: 20px;
    text-align: left;
    background: none;
    color: #131E32;
    font-weight: 400;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
}

.possibilities-answers > button:hover{
	background: linear-gradient(90deg, #802CB0, #E00B35);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	cursor: pointer;
}

.possibilities-answers > div{
    display: none;
    overflow: hidden; 
    transition: max-height 0.5s ease-in-out; 
    max-height: 0;
    padding: 20px;
    color: #131E32;
    font-weight: 400;
    font-size: .9em;
    font-family: 'Poppins', sans-serif;
}

.rok{
    margin: 15px 0;
    width: 100%;
    background: linear-gradient(90deg, #E00B35, #F82A45);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.rok > p{
    text-align: center;
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
}

.coop{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coop > h2{
    color: #131E32;
    font-size: 1.6em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.coop > p{
    width: 90%;
    color: #131E32;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

.coop > div{
    margin: 15px 0;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.coop > div > img{
    height: 80px;
}


footer{
    margin-top: 15px;
    width: 100%;
    background-color: #131E32;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer h2{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
}


footer > div{
    width: 270px;
    padding: 20px;
}


footer > :first-child {
    display: flex;
    flex-direction: column;
}

footer > :first-child > a {
    align-items: center;
    text-decoration: none;
    padding: 10px 0;
}

footer > :first-child > :nth-child(2) {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    color: #ABB4CA;
}

footer > :first-child > :nth-child(3), :nth-child(4) {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #ABB4CA;

}

footer > :first-child > :nth-child(3):hover, :nth-child(4):hover {
    color: #FEFEFE;
}


footer > :nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > :nth-child(2) > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

footer > :nth-child(2) > div > a{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #ABB4CA;
    text-decoration: none;
}

footer > :nth-child(2) > div > a:hover{
    color: #FEFEFE;
}

footer > :nth-child(2) > :nth-child(3){
    border-bottom: 2px solid #252525;
    border-top: 2px solid #252525;
}

footer > :nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > :nth-child(3) > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

footer > :nth-child(3) > div > h6{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #ABB4CA;
    font-size: .7rem;
}

footer > :nth-child(3) > div > p{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    color: #ABB4CA;
}

footer > :nth-child(3) > :nth-child(3){
    border-bottom: 2px solid #252525;
    border-top: 2px solid #252525;
}

footer > :nth-child(3) a{
    text-decoration: none;
    color: #02B4E4;
}


footer > :last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

footer > :last-child > div{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

footer > :last-child > div > a{
    color: #FEFEFE;
    margin: 5px;
    transition: all 0.8s cubic-bezier(0.32,-0.6, 0.5, 2.35);
}

footer > :last-child > div > a:hover{
    color: #802CB0;
    transform: scale(2.1);
}





@media only screen and (min-width:600px) and (max-width:985px) {
    body{
        font-size: 14px;
    }  
    .navbar > .menu-main{
        display: none;
    }
    .navbar > .navbar-cta{
        display: none;
    }
    .navbar-top-collapse{
        display: flex;
    }
    .navbar-responsive{
        top: 45px;
        left: 0;
        position: fixed;
        width: 100%;
        background-color: #FFFFFF;
        height: 90%;
        z-index: 100;
    }
    .navbar-responsive > .menu-main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        height: 70%;
        z-index: 100;
    }
    .navbar-responsive > .menu-main li{
        margin: 0;
        width: 100%;
        border-bottom: 1px solid #E7EDF9;
        list-style: none;
        z-index: 100;
    }
    .navbar-responsive > .menu-main li a{
        font-size: 1.6em;
    }
    
    .navbar-responsive > #burgermenu{
        position: absolute;
        top: -40px;
        right: 0;
    }

    .navbar-responsive > .navbar-top-collapse > .animated-icon > :nth-child(1){
        position: absolute;
        border-radius: 10px;
        background-color: #131E32;
        width: 80%;
        height: 10%;
        rotate: 45deg;
    }
    .navbar-responsive > .navbar-top-collapse > .animated-icon > :nth-child(2){
       width: 0;
       height: 0;
    }
    .navbar-responsive > .navbar-top-collapse > .animated-icon > :nth-child(3){
        position: absolute;
        border-radius: 10px;
        background-color: #131E32;
        width: 80%;
        height: 10%;
        rotate: -45deg;
    }
    .navbar-responsive > .navbar-cta{
        font-size: 1.6em;
    }
    .abus-info{
        width: 80%;
    }
    .abus-slide{
        width: 80%;
    }
    .firms > img{
        margin: 0 20px;
        width: 150px;
    }
    .targets > div{
        width: 250px;
    }
    .targets > div > a{
        width: 150px;
    }
    .avatar{
        height: 18em;
    }
    .feed-item{
        width: 180px;
    }
    .directions-items > div{
        margin: 0 7px;
        padding: 15px;
        width: 260px;
    }
    
    .directions-items > div > a{
        text-decoration: none;
        font-size: 1em;
    }
    
    .directions-items > div > a >img{
        width: 80px;
    }
    .city > img{
        height: 50vh;
    }
    .success{
        width: 90%;
    }
    .video-presentation{
        width: 40%;
        height: 220px;
    }
    #myVideo, #myVideo1 , #myVideo2{
        width: 14rem;
        height: 14rem;
        object-fit: cover;
    }
    .video-poster{
        width: 14rem; 
        height: 14rem;   
    }
    .success-item > :nth-child(2){
        margin-left: 5px;
        width: 45%;
    }
}

@media only screen and (max-width:600px) {
    body{
        font-size: 10px;
    }
    .navbar > .menu-main{
        display: none;
    }
    .navbar > .navbar-cta{
        display: none;
    }
    .navbar-top-collapse{
        display: flex;
    }
    .navbar-responsive{
        top: 45px;
        left: 0;
        position: fixed;
        width: 100%;
        background-color: #FFFFFF;
        height: 90%;
        z-index: 100;
    }
    .navbar-responsive > .menu-main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        height: 70%;
    }
    .navbar-responsive > .menu-main li{
        width: 100%;
        list-style: none;
    }
    .navbar-responsive > .menu-main li a{
        font-size: 1.4em;
    }
    
    .navbar-responsive > #burgermenu{
        position: absolute;
        top: -40px;
        right: 0;
    }

    .navbar-responsive > .navbar-top-collapse > .animated-icon > :nth-child(1){
        position: absolute;
        border-radius: 10px;
        background-color: #131E32;
        width: 80%;
        height: 10%;
        rotate: 45deg;
    }
    .navbar-responsive > .navbar-top-collapse > .animated-icon > :nth-child(2){
       width: 0;
       height: 0;
    }
    .navbar-responsive > .navbar-top-collapse > .animated-icon > :nth-child(3){
        position: absolute;
        border-radius: 10px;
        background-color: #131E32;
        width: 80%;
        height: 10%;
        rotate: -45deg;
    }
    .navbar-responsive > .navbar-cta{
        font-size: 1.4em;
    }
    .abus-info{
        margin-left: 5px;
        width: 80%;
    }
    .abus-slide{
        width: 80%;
    }

    .abus-info > a{
        width: 100px;
        margin: 0 5px;
        font-size: .8em;
    }
    .firms > img{
        margin: 0 10px;
        width: 120px;
    }
    .targets > div{
        width: 200px;
    }
    .targets > div > a{
        width: 120px;
    }
    .avatar{
        height: 15em;
    }
    .feed-item{
        height: 160px;
        width: 120px;
    }
    .marketing > div{
        width: 90%;
    }
    .continue > p{
        font-size: .9em;
    }
    .directions-items > div{
        margin: 0 5px;
        padding: 10px;
        width: 200px;
    }
    
    .directions-items > div > a{
        text-decoration: none;
        font-size: .9em;
    }
    
    .directions-items > div > a >img{
        width: 60px;
    }
    .city > img{
        height: 25vh;
    }
    .revolution > div{
        width: 80%;
    }
    .success{
        width: 100%;
    }
    .video-presentation{
        width: 80%;
        height: 220px;
    }
    #myVideo, #myVideo1 , #myVideo2{
        width: 85%;
        height: 14rem;
        object-fit: cover;
    }
    .video-poster{
        width: 70%; 
        height: 14rem;   
    }
    .success-item > :nth-child(2){
        margin-left: 5px;
        width: 80%;
    }
    .rok > p{
        font-size: .9em;
    }
}